@inherits LayoutComponentBase

<div class="app-shell">
    <aside class="app-sidebar">
        <NavMenu />
    </aside>

    <main class="app-main">
        <article class="app-content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    حدث خطأ غير متوقع.
    <a href="." class="reload">إعادة تحميل</a>
    <span class="dismiss">&times;</span>
</div>
